* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative;
}

.container>img {
    width: 100%;
}

.container .text {
    position: absolute;
    right: 20px;
    top: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.dot-color {
    width: 35px;
    height: 35px;
    top: 32px;
    left: 311px;
}


.artjunks {
    font-family: Inter;
    font-size: 30.4px;
    font-weight: 900;
    line-height: 36.79px;
    text-align: left;
    width: 167px;
    height: 37px;
    color: #FFFFFF;
}

.rectangle {
    width: 90px;
    height: 15px;
    background: #FFFFFF;
    margin-top: 180px;
}

.h1 {
    font-family: Libre Caslon Display;
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    width: 314px;
    height: 186px;
    border: 1px 0px 0px 0px;
    margin-bottom: 80px;
    color: #FFFFFF;

}

.description {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30.33px;
    text-align: left;
    width: 314px;
    height: 90px;
    color: #FFFFFF;

}

.button {
    border: solid 1px white;
    border-radius: 10px;
    width: 153px;
    height: 42px;
    margin-top: 30px;
    background-color: transparent;
}

.button-info {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: center;
    width: 98px;
    height: 22px;
    top: 9px;
    left: 27px;
    margin-left: 25px;
    color: #FFFFFF;
}

.h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    width: 161px;
    height: 29px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-1-wrapper {
    width: 311px;
    height: 619px;
    top: 1209px;
    left: 32px;
    max-width: 311px;
    margin: 0 auto;
    margin-top: 50px;
}

.card-1 {
    width: 311px;
    height: 352px;
    border-radius: 4px 0px 0px 0px;
}

.date {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.73px;
    text-align: left;
    width: 96px;
    height: 16px;
    top: 387px;
    left: 32px;
    color: #B7B7B7;
    margin-top: 30px;
    margin-left: 20px;
}

.card-1-para {
    max-width: 200px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: left;
    height: 120px;
    top: 431px;
    left: 32px;
    margin-top: 30px;
    margin-left: 20px;
}

.read-more-button {
    border: 0;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    width: 96px;
    height: 18px;
    top: 569px;
    left: 183px;
    color: #D9852C;
    background-color: white;
    margin-top: 10px;
    margin-left: 180px;
    margin-bottom: 30px;
}

.para-info {
    border: 1px solid #DDDDDD;
    margin-top: 0;
}