* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cards-wrapper-pc {
    display: none;
}

.navbar-pc {
    display: none;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative;
}

.container>img {
    width: 100%;
}

.container .text {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 314px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.dot-color {
    width: 35px;
    height: 35px;
}


.artjunks {
    font-family: Inter;
    font-size: 30.4px;
    font-weight: 900;
    line-height: 36.79px;
    text-align: left;
    width: 167px;
    height: 37px;
    color: #FFFFFF;
}

.rectangle {
    width: 90px;
    height: 15px;
    background: #FFFFFF;
    margin-top: 180px;
}

.h1 {
    font-family: Libre Caslon Display;
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    height: 186px;
    border: 1px 0px 0px 0px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #FFFFFF;

}

.description {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30.33px;
    text-align: left;
    width: 314px;
    height: 90px;
    color: #FFFFFF;

}

.button {
    border: solid 1px white;
    border-radius: 10px;
    font-weight: 500;
    width: 153px;
    height: 42px;
    margin-top: 30px;
    background-color: transparent;
}

.button-info {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: center;
    width: 98px;
    height: 22px;
    top: 9px;
    left: 27px;
    margin-left: 25px;
    color: #FFFFFF;
}



.h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    width: 161px;
    height: 29px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 39px;
}

.card-1-wrapper {
    display: block;
    width: 311px;
    height: 619px;
    top: 1209px;
    left: 32px;
    max-width: 311px;
    margin: 0 auto;
}

.card-1-wrapper-tab {
    display: none;
}


.date {
    display: block;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.73px;
    text-align: left;
    width: 96px;
    height: 16px;
    top: 387px;
    left: 32px;
    color: #B7B7B7;
    margin-top: 30px;
    margin-left: 20px;
}

.date-tab {
    display: none;
}


.card-para {
    display: block;
    max-width: 250px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: left;
    height: 120px;
    top: 431px;
    left: 32px;
    margin-top: 30px;
    margin-left: 20px;
    color: black;
}


.card-para-tab {
    display: none;
}

.read-more-button {
    display: block;
    border: 0;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    width: 96px;
    height: 18px;
    top: 569px;
    left: 183px;
    color: #D9852C;
    background-color: white;
    margin-top: 10px;
    margin-left: 180px;
    margin-bottom: 30px;
}

.read-more-button-tab {
    display: none;
}

.para-info {
    display: block;
    border: 1px solid #DDDDDD;
    margin-top: 0;
}

.para-info-tab {
    display: none;
}

.card-2-wrapper {
    display: block;
    width: 311px;
    height: 619px;
    max-width: 311px;
    margin: 30px auto 0 auto;
}

.card-2-wrapper-tab {
    display: none;
}


.card-3-wrapper {
    display: block;
    width: 311px;
    height: 619px;
    max-width: 311px;
    margin: 30px auto 20px auto;
}

.card-3-wrapper-tab {
    display: none;
}

@media screen and (min-width:744px) {
    .container {
        max-width: 744px;
        margin: 0 auto;
        width: 100%;
        height: auto;
        position: relative;
    }

    .container> img {
        height: 1024px;
        object-fit: cover;
    }

    .container .text {
        position: absolute;
        width: 705px;
        top: 20px;
        right: 20px;
        left: 20px;
    }

    .tablet-view-text {
        margin-left: 35px;
    }

    .h1 {
        font-size: 70px;
        font-weight: 400;
        line-height: 86.52px;
        text-align: left;
        width: 600px;
        height: 174px;
        border: 1px 0px 0px 0px;
        color: #FFFFFF;
        margin-top: 25px;
    }

    .description {
        font-size: 18px;
        font-weight: 500;
        line-height: 30.33px;
        width: 528px;
        height: 60px;
        color: #FFFFFF;
    }

    .h3 {
        font-size: 30px;
        font-weight: 700;
        line-height: 36.31px;
        width: 202px;
        height: 36px;
        top: 1113px;
        left: 72px;
        margin-top: 80px;
        margin-bottom: 60px;
        margin-left: 95px;     
    }


    .cards-wrapper-tab {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        max-width: 600px;
        margin: 0 auto;
    }

    .card-1-wrapper-tab {
        display: block;
        width: 187px;
        height: 635px;
        margin: 0;
    }

    .card-1-wrapper {
        display: none;
    }

    .para-info {
        display: none;
    }

    .para-info-tab {
        display: block;
        border: 1px solid #DDDDDD;
        margin-top: 0;
    }

    .card-2-wrapper-tab {
        display: block;
        width: 187px;
        height: 635px;
        margin: 0;
    }

    .card-2-wrapper {
        display: none;
    }

    .card-3-wrapper-tab {
        display: block;
        width: 187px;
        height: 635px;
        margin: 0;
    }

    .card-3-wrapper {
        display: none;
    }


    .card-para-tab {
        display: block;
        font-family: Inter;
        font-size: 15px;
        font-weight: 700;
        line-height: 18.15px;
        width: 123px;
        height: 126px;
        text-align: left;
        top: 431px;
        left: 32px;
        color: black;    
        margin: 30px auto 20px auto;
    }

    .card-para {
        display: none;
    }

    .date-tab {
        display: block;
        font-family: Inter;
        font-size: 13px;
        font-weight: 500;
        line-height: 15.73px;
        text-align: left;
        width: 96px;
        height: 16px;
        top: 387px;
        left: 32px;        
        margin: 30px auto 0 auto;
        color: #B7B7B7;
    }

    .date {
        display: none;
    }


    .read-more-button {
        display: none;
    }

    .read-more-button-tab {
        display: block;
        font-size: 15px;
        font-weight: 500;
        line-height: 18.15px;
        width: 96px;
        height: 18px;
        top: 585px;
        left: 59px;
        margin-left: 45px;
        color: #D9852C;
        background-color: white;
        margin-top: 30px;
        margin-left: 60px;
        margin-bottom: 40px;
        border: transparent;        
    }
}
@media screen and (min-width:992px) {
    .container {
        max-width: 1352px;
        margin: 0;
        position: relative;
    }

    .container> img {
        width: 100%;
        object-fit: cover;
    }

    .container> text {
        position: absolute;
    }
    
    .navbar-pc {
        position: absolute;
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar {
        display: none;
    }

    .artjunks-pc {
        position: absolute;
        top: 25px;
        left: 30px;
        font-family: Inter;
        font-size: 30.4px;
        font-weight: 900;
        line-height: 36.79px;
        text-align: left;
        width: 167px;
        height: 37px;
        color: #FFFFFF;
    }

    .right-navbar {
        position: absolute;
        width: Hug (350px)px;
        height: Hug (30px)px;
        top: 25px;
        left: 570px;
    }

    .rectangle {
        margin-top: 300px;
    }

    .h1 {
        margin-top: 50px;
    }


    .cards-wrapper-pc {
        display: block;
    }


    .cards-wrapper {
        display: none;
    }

    .cards-wrapper-tab {
        display: none;
    }
}